
:root {

    /* fonts */
--main-font: "Roboto";
--secondery-font:"Raleway";
    /* text-color */
--capital-letters-cl: #212121;
--accent-txt-cl: #757575;
--hover-txt-cl: #2196F3;
--secondary-txt-cl: #ffffff;
/* Icons */
--icon-cl: #AFB1B8;
--icon-bg-cl: #2196F3;
--icon-cl-footer: #ffffff;

--timing-function: cubic-bezier(0.4, 0, 0.2, 1) ;
    /* bg-colors */
--basic-bgc: #2F303A;
--additional-bgc: #188CE8;
    /* others */
}
::before,
::after{
    box-sizing: border-box;
}
body {
font-family: var(--main-font), sans-serif;
font-size: 14px;
line-height: 1.71;
color: var(--accent-txt-cl);
}
/* resets */
h1,h2,h3,h4,h5,p {
    margin: 0px;
}
img{
    display: block;
    max-width: 100%;
    height: auto;

}
/* container */
.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;

}
/* logo-start */
.header-logo,
.logo {
display: flex;

font-family: var(--secondery-font);
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color: var(--hover-txt-cl);
list-style: none;
text-decoration: none;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.logo{
    font-family: var(--secondery-font), sans-serif;
    color: #000000;
}
.header-logo{
    margin-right: 93px;
}
/* logo-end */

/* common-styles-start */
.link{
    text-decoration: none;
}
.list{
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.padding{
    padding: 94px 0;
}
/* common-styles-end */

/* header section */
.header-container{
    border-bottom:1px solid #ECECEC;
;}
.header-container,
.header-nav>.list,
.header-container>.list{
    display: flex;
    align-items: center;
}
.header-link::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    left: 0;
    bottom: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    background-color: var(--hover-txt-cl) ;
    opacity: 0;

}
.header-link.current::after{
    opacity: 1;
}
.header-nav .header-list:last-child{
    margin-right: 0px;
}
.header-list {
    margin-right: 50px;
}

.header-link{
    position: relative;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--capital-letters-cl);
    transition: 250ms var(--timing-function);
}

.header-link:hover,
.header-link:focus,
.contact-link:hover,
.contact-link:focus
{
color:  var(--hover-txt-cl);
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
transition: 250ms var(--timing-function);
}
.link.current{
    color: var(--hover-txt-cl)
}
.header-link,
.button-hero,
.portfolio-button{      
cursor: pointer;
}
/* contact */
.contact-link {
    display:flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--accent-txt-cl);  
    transition: 250ms var(--timing-function);
}
.link-icon {
    margin-right: 10px;
    fill: currentColor;
}

.list .contact-item + .contact-item{
    margin-left: 50px;

}

.header-container>.list{
    margin-left: auto;
    
}


/* hero */

.hero-img{
    max-width: 1600px;
    max-height: 600px;
    margin-left: auto;
    margin-right: auto;
    padding: 200px 0;
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.25),
        rgba(0, 0, 0, 0.25)
        ),
        url(../images/hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    

}

.hero{
    

    color: var(--secondary-txt-cl);
    background-color: var(--basic-bgc);
    text-align: center;
    
}

.headline{
margin: auto;
margin-bottom: 30px;
max-width: 650px;

font-weight: 900;
font-size: 44px;
line-height: 1.36;
letter-spacing: 0.06em;
text-transform: uppercase;

}
/* button */
.button-hero{
    padding: 10px 32px;
    border-radius: 4px;
    border: none;

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--secondary-txt-cl);
    background-color: var(--hover-txt-cl);
    transition: 250ms var(--timing-function);
}
.button-hero:hover,
.button-hero:focus{
background-color: var(--additional-bgc);
transition: 250ms var(--timing-function);
}

.backdrop{
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: rgba(0, 0, 0, 0.2);
opacity: 1;
transition: opacity 250ms var(--timing-function), visibility 250ms var(--timing-function);
}
.backdrop.is-hidden{
opacity: 0;
pointer-events: none;
}
.backdrop.is-hidden .modal {
transform: translate(-50%, -50%) scale(0.9);
}
.modal{
display: flex;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%) scale(1);
transition: transform 250ms var(--timing-function);
width: 528px;
height: 581px;
border-radius: 4px;
background: #FFFFFF;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);

}
.close-button{
position: absolute;
top: 0;
right: 0;
display: flex;
justify-content: center;
align-items: center;
width: 30px;
height: 30px;
margin-top: 8px;
margin-right: 8px;
cursor: pointer;
border: 1px solid rgba(0, 0, 0, 0.1);
border-radius: 50%;
background-color: var(--secondary-txt-cl);
}
.close-button:focus,
.close-button:hover{
    fill: var(--icon-bg-cl);
    transition: 250ms var(--timing-function);
}
/* modal box */
.modal-title {
display: block;
margin-bottom: 30px;
font-weight: 700;
font-size: 20px;
line-height: 1.15;
color: var(--capital-letters-cl);
text-align: center;
}


.modal-box {
padding: 40px;
}
.modal-form{
display: flex;
flex-wrap: wrap;
}


.modal-label-box {
position: relative;
}

.modal-field {

display: block;
width: 448px;
height: 40px;
padding-left: 40px;
margin-bottom: 30px;

}

.modal-field,
.modal-comment {
border: 1px solid rgba(33, 33, 33, 0.2);
border-radius: 4px;
outline-width: 0;
transition: border-color 250ms var(--timing-function);
}


.modal-icon {
    position: absolute;
    top: 11px;
    left: 12px;
    --color1: currentColor;
    transition: fill 250ms var(--timing-function);
}

.modal-comment::placeholder {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}

.modal-label-box:focus-within>.modal-icon {

    fill: var(--hover-txt-cl);
    transition: 250ms var(--timing-function);
}

.modal-label-box:focus-within>.modal-field,
.modal-label-box:focus-within>.modal-comment {
    border-color: var(--hover-txt-cl);
    transition: 250ms var(--timing-function);
}
.modal-btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 200px;
    height: 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    font-family: inherit;
    color: var(--secondary-txt-cl);
    background-color: var(--hover-txt-cl);
    cursor: pointer;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
    transition: background-color 250ms var(--timing-function);
}
.modal-btn:hover,
.modal-btn:focus {
    background-color: var(--additional-bgc);
    transition: 250ms var(--timing-function);
}

.modal-comment {
    display: block;
    width: 448px;
    height: 120px;
    resize: none;
    padding: 12px 16px;
    margin-bottom: 20px;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
}

.checkbox {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    line-height: 1.71;
    font-family: var(--main-font), sans-serif;
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color:var(--accent-txt-cl) ;
}

.checkbox>a {
    text-underline-offset: 1px;
    color: var(--hover-txt-cl);
}

.checkbox-icon {
display: inline-block;
width: 16px;
height: 15px;
border: 2px solid var(--accent-txt-cl);
border-radius: 2px;
margin-right: 7px;
transition: 250ms var(--timing-function);
}

.checkbox-input:checked+.checkbox-icon {
    border-color: var(--additional-bgc);
    background-color: var(--additional-bgc);
}

.checkbox-input {
    display: block;
    position: relative;
}
.checkbox>svg>use{
    fill: var(--icon-cl-footer);
}

.modal-label {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: var(--accent-txt-cl);
    transform: translateY(-18px);

}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* peculiarities */
.peculiarities-bgr-icon{
    width: 270px;
    height: 120px;
    background: #F5F4FA;
    border-radius: 4px;
    display: flex;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
}

.peculiarities{
    display: flex;
    justify-content: center;
}

.peculiarities .item:not(:last-child){
    margin-right: 30px;
}
.peculiarities-title{
margin-bottom: 10px;

font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color:var(--capital-letters-cl);

}
.peculiarities-txt{
letter-spacing: 0.03em;
}


/* work */

.work{
    padding-bottom: 94px;
}
.work .list{
    display: flex;
}
.work .item{
width: calc(100%/3-60px);
margin-right: 30px;
position: relative;
}
.work-txt{
position: absolute;
text-align: center;
text-transform: uppercase;
font-weight: 700;
bottom: 0;
width: 100%;
padding: 27px 0;
color: rgba(255, 255, 255, 1);
background: rgba(47, 48, 58, 0.8);
}
.work .item:nth-child(3n){
    margin-right: 0px;
}
.work .section-title-txt{
    margin-bottom: 50px;
}
/* team */
.team{
    background-color: #F5F4FA;
}
.team .list{
    display: flex;
}
.txt-pad>.list{
    justify-content: center;
    margin: 0 32px;
}

.social-icons{
fill: currentColor;
width: 44px;
height: 44px;
border-radius: 50%;
display: inline-flex;
align-items: center;
justify-content: center;
fill: var(--icon-cl);
transition: 250ms var(--timing-function);
}
.social-icons:hover,
.social-icons:focus{
    fill: #FFFFFF;
    background-color: var(--icon-bg-cl);
    transition: 250ms var(--timing-function);
}
.margin-icon:not(:last-child) {
margin-right: 10px;
}
.team-txt:not(:last-child) {
margin-right: 30px;
}
.section-title-txt{
margin-bottom: 50px;

font-weight: 700;
font-size: 36px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.03em;
color:var(--capital-letters-cl);
}

.team-txt{
background: #FFFFFF;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
}
.name-txt{
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--capital-letters-cl);
}
.profession-txt{
margin-bottom: 16px;
font-size: 16px;
line-height: 1.19;
text-align: center;
letter-spacing: 0.03em;

}
.txt-pad{
    padding: 30px 0;
}
/* client */

.client{
    display: flex;
    text-decoration: none;
}
.client-link{
display: flex;
align-items: center;
justify-content: center;
width: 170px;
height: 92px;
border-radius: 4px;
border: 1px solid var(--icon-cl);
fill: var(--icon-cl);
transition: 250ms var(--timing-function);
}
.client-link:hover,
.client-link:focus{
    fill: var(--icon-bg-cl);
    border: 1px solid var(--icon-bg-cl);
    transition: 250ms var(--timing-function);
}
.client-list:not(:last-child){
    margin-right: 30px;
}
/* footer start */
.footer{
padding: 60px 0;

}
.footer>.container{
display: flex;
}
.footer{
background-color: var(--basic-bgc);
}
.footer .header-logo{
margin-bottom: 20px;
}

.footer-logo{
font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color: var(--secondary-txt-cl);
}
.footer-address{
font-style: normal;
letter-spacing: 0.03em;
color: var(--secondary-txt-cl);
transition: 250ms var(--timing-function);

}
.footer-contact{
font-style: normal;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
transition: 250ms var(--timing-function);

}
.footer address li:not(:last-child){
    margin-bottom: 9px;
}

.footer-address:hover,
.footer-address:focus,
.footer-contact:hover,
.footer-contact:focus{
color: var(--hover-txt-cl);
transition: 250ms var(--timing-function);
}
.social-network>.list{
display: flex;
}
.social-network{
    padding-top:12px;
    margin-left: 70px;
    align-items: center;
}

.social-p{
font-weight: 700;
line-height: 1.14;
text-transform: uppercase;
margin-bottom: 20px;
color: var(--secondary-txt-cl);
}

.social-icon{
    fill: currentColor;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: var(--icon-cl-footer);
    transition: 250ms var(--timing-function);
    
}
.margin-icon-footer{
    border-radius: 50%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background: rgba(255, 255, 255, 0.1);
}
.margin-icon-footer:not(:last-child){
    margin-right: 10px;
}
.social-icon:hover,
.social-icon:focus {
    fill: #FFFFFF;
    background-color: var(--icon-bg-cl);
    transition: 250ms var(--timing-function);
}
.subscript{
display: flex;
align-items: flex-start;
margin-left: 93px;
}
.subscript-box{
display: flex;
flex-direction: column;
}
.subscript-title{
display: block;
padding-bottom: 20px;
padding-top: 12px;
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--secondary-txt-cl);
}
.footer-mail{
height: 50px;
width: 358px;
padding-left: 16px;
padding-top: 15px;
padding-bottom: 15px;
font-size: 16px;
line-height: 1.25;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
background-color: #2F303A;
border: 1px solid rgba(255, 255, 255, 0.3);
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
border-radius: 4px;
}
.subscript-btn{
display: flex;
justify-content: center;
align-items: center;
width: 200px;
margin-top: 48px;
margin-left: 12px;
padding-top: 10px;
padding-bottom: 10px;
font-weight: 700;
font-size: 16px;
line-height: 1.88;
letter-spacing: 0.06em;
font-family: inherit;
color: var(--secondary-txt-cl);
background-color: var(--hover-txt-cl);
cursor: pointer;
border: none;
border-radius: 4px;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
transition: background-color 250ms var(--timing-function);
}
.subscript-icon{
margin-left: 10px;
}
.subscript-btn:hover,
.subscript-btn:focus {
    background-color: var(--additional-bgc);
    transition: 250ms var(--timing-function);
}

/* footer end */

/* portfolio */
.portfolio .btn{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    transition: 250ms var(--timing-function);
}

.portfolio .examples{
    display: flex;
    flex-wrap: wrap;
}
.portfolio .example{
    width: calc(100% / 3 - 20px);
    margin-right: 30px;
}
.portfolio .example:nth-child(3n){
    margin-right: 0;
}
.example{
    border: 1px solid #EEEEEE;
    margin-right: 30px;
}
.example:hover,
.example:focus{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    transition: 250ms var(--timing-function);
}
.example h2{
margin-bottom: 4px;
}
.example{
margin-top: 30px;
transition: 250ms var(--timing-function);

}
.card-info{
position: relative;
}
.card-info,
.desc{
    overflow: hidden;
}
.desc{
    padding: 20px 24px;
}
.example:nth-last-child(-n + 3) {
margin-bottom: 0;
}
.example:hover .work-name-txt{
    transform: translateY(0);
    transition: 250ms var(--timing-function);
}
/* portfolio-button */
.portfolio-button{
padding: 6px 22px;

font-family: inherit;
font-weight: 500;
font-size: 16px;
line-height: 1.6;
text-align: center;
letter-spacing: 0.03em;
color: var(--capital-letters-cl);
border: none;
border-radius: 4px; 
transition: 250ms var(--timing-function);
}


.btn li:not(:last-child){
    margin-right: 8px;
}

.portfolio-button:hover,
.portfolio-button:focus{
background-color: var(--hover-txt-cl);
color: var(--secondary-txt-cl);
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
transition: 250ms var(--timing-function);
}

.portfolio-button.current{
background-color: var(--hover-txt-cl);
color: var(--secondary-txt-cl);
}
.title-name{
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: var(--capital-letters-cl);
}
.work-name{
font-size: 16px;
line-height: 1.9;
letter-spacing: 0.03em;
color: var(--accent-txt-cl);
}
.work-name-txt{
position: absolute;
display: inline-block;
bottom: 0;
left: 0;
width: 100%;
height: 100%;
font-size: 18px;
line-height: 1.58;
padding: 63px 24px;
letter-spacing: 0.03em;
color: var(--secondary-txt-cl);
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
background-color: rgba(33, 150, 243, 0.9);


transform: translateY(100%);
transition: transform 250ms var(--timing-function);
}